<%- include('partials/head', {titulo: 'Product Detail', stylesheet: 'styleProductDetail'}) %>

<body>
    <%- include('partials/header') %>

    <main>
        <section class="seccion-producto">
            <div class="producto">
                <img class="imgProducts" src="/img/products/<%= productDetail.image %>" alt="product image">
            </div>
            <div class="margin-all margin-all-pc">
                <div class="font-size-h">
                    <h2><%= productDetail.product_name + ' ' + productDetail.reference %></h2>
                </div>
                <p class="precio">USD <%= productDetail.price %></p>
                <ul>
                    <% for( let i = 0; i < features.length; i++ ) { %>
                        <li><%= features[i] %></li>
                    <% } %>
                </ul>
                <div class="center-btn">
                    <div class="btn-buy-now">
                        <A HREF="/productList/shopping-cart/<%= productDetail.product_id %>"><button class="botons" type="submit"> Buy Now </button></A>
                    </div>
                    <div class="btn-buy-now">
                        <div>
                            <A HREF="/productList/productEdit/<%= productDetail.product_id %> "><button class="botonstwo" type="submit"> Edit </button></A>
                            <form action="/productList/productDelete/<%= productDetail.product_id %>?_method=DELETE" method="POST">
                                <button class="botonstwo" type="submit"> Delete </button></A>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
        
        
        <div class="font-size-h txt-accesorio">
            <h2>Accessories</h2>
        </div>
        <section class="accesorios">
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios"
                        src="https://dji-official-fe.djicdn.com/cms/uploads/eebea4939fabbea9d4f1f92f18db8690.png"
                        alt="drone1" alt="battery" />
                </div>
                <p>Remote Control</p>
            </div>
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios" src="/img/camera-dji.png" alt="drone1" alt="camera" />
                </div>
                <p>Camera</p>
            </div>
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios"
                        src="https://dji-official-fe.djicdn.com/dps/aa7711eeaa8a652b4b7df9f6c50d3549.png" alt="drone1"
                        alt="remote1" />
                </div>
                <p>Front Touchscreen Module</p>
            </div>
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios"
                        src="https://dji-official-fe.djicdn.com/dps/875f8c94a869b775399f6bccad79cea5.png" alt="drone1"
                        alt="remote2" />
                </div>
                <p>DJI Mic</p>
            </div>
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios"
                        src="https://stormsend1.djicdn.com/tpc/uploads/in_the_box/cover/a19c0e4d517c2fb5d5fdb115eea81863@retina_small.png"
                        alt="drone1" alt="remote1" />
                </div>
                <p>DJI FPV AC Power Cable</p>
            </div>
            <div>
                <div class="color-accesorios">
                    <img class="img-accesorios"
                        src="https://stormsend1.djicdn.com/tpc/uploads/in_the_box/cover/9d8d75edcdcbfd049a12cb81a83c8c78@retina_small.png"
                        alt="drone1" alt="remote2" />
                </div>
                <p>DJI FPV AC Power Adapter</p>
            </div>
        </section>
        <div class="display-section-answer">
        <section class="margin-all">
            <div class="font-size-h">
                <h2>Let&#39s Answer Your Questions</h2>
            </div>
            <div class="faq-container">
                <details>
                    <summary>What&#39s the difference between DJI FPV and traditional drones?</summary>
                    <p>Generally speaking, FPV drones differ from traditional drones in two major ways. The first is the
                        immersive flight experience provided by the goggles. The second big difference is the flight
                        itself. Compared to most camera drones, FPV drones typically allow for much higher speeds and
                        limitless maneuvering capabilities with no angle limits on any of the axes. Because of this, FPV
                        drones have typically required a much higher level of skill to fly.</p>
                </details>
                <details>
                    <summary>What is the difference between DJI FPV and traditional racing drones?</summary>
                    <p>DJI FPV has a built-in imaging system, high-definition, low-latency transmission with a range of
                        up to 10 km, and a battery life of approximately 20 minutes. The integrated, ready-to-fly design
                        means users don&#39t need to assemble the drone themselves. DJI FPV isalso equipped with
                        advanced safety features such as emergency brake hovering, intelligent return to home, and DJI
                        Care Refresh service for added flight protection and greater peace of mind during flight.</p>
                </details>
                <details>
                    <summary>Is the DJI FPV Combo worth it?</summary>
                    <p>The DJI FPV Combo comes with everything you need to start flying. It includes the FPV Drone,
                        Goggles V2, Remote Controller 2, DJI FPV Intelligent Flight Battery, DJI FPV Goggles Battery,
                        DJI FPV AC Power Adapter, DJI FPV Propellers, and other related cables and accessories. For
                        anyone interested in diving into the world of FPV flight, it&#39s the perfect way to do so.</p>
                </details>
                <details>
                    <summary>What is the Motion Controller? Is it worth it?</summary>
                    <p>The DJI Motion Controller is a small, hand-held device that revolutionizes the aerial experience.
                        This compact device allows the aircraft to maneuver based on your natural hand motions,
                        delivering an ultra-intuitive experience and allowing even beginners to maneuver like seasoned
                        FPV pilots.</p>
                </details>
            </div>
        </section>
    </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>