<%- include('partials/head', {titulo: 'Product List', stylesheet: 'productList'}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="productList-title">
            <h2>PRODUCT LIST </h2>
        </div>
        <section class="container-one">
            <% products.forEach(product => { %>
                <!-- <a href="/productList/shopping-cart/<%= product.product_id %>"> -->
                <article class="drone-one">
                    <a href="/productList/productDetail/<%= product.product_id %> "><img  src="/img/products/<%=product.image%>" class="drone-product-list"></a>
                    <!-- <div class="links">
                        <a href="/productList/productDetail/<%= product.product_id %> ">
                            <div>View More</div>
                            <div class="icon"></div>
                        </a> 
                        <a href="/productList/shopping-cart/<%= product.product_id %>">
                            <div>Buy Now!</div>
                            <div class="icon"></div>
                        </a> 
                    </div> -->
                    <div>
                        <h6><%= product.product_name  %> </h6>
                        </a>
                        <h4 class="product-reference"><%= product.reference  %></h4>
                        <div class="signo-precio">
                            <h5 class="signo-dolar">$</h5>
                            <h4 class="product-price"><%=product.price%></h4>
                        </div>
                        <h7>Free shipping</h7>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>

                    </div>
                <!-- </a> -->

                </article>
            <% }) %>
    
        </section>
    
        <section class="section-two">
            <!-- <div class="where-support-pay">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-shop icon"></i>
                            <h4> Where to buy</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-phone-volume icon"></i>
                            <h4>Support</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-cash-register icon"></i>
                            <h4>Pay here</h4>
                            <i class="fa-solid fa-angles-right angle"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                </ul>
            </div> -->

            <div>
                <video class="videoLista" src="/img/banner.mp4 " autoplay loop></video>
            </div>
    
        </section>
    
    </main>


    <!-- Pie de página -->
    <%- include('partials/footer') %>


</body>

</html>