<%- include('partials/head', {titulo: 'Product List', stylesheet: 'productList'}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="productList-title">
            <h2>PRODUCT LIST </h2>
        </div>
        <section class="container-one">
            <% products.forEach(product => { %>
                <article class="drone-one">
                    <img  src="/img/products/<%=product.image%>" class="drone-product-list">
                    <h6><%= product.productName  %> </h6>
                    <h4><%= product.reference  %></h4>
                    <div class="links">
                        <a href="/productList/productDetail/<%= product.id %> ">
                            <div>View More</div>
                            <div class="icon"></div>
                        </a>
                        <a href="/productList/shopping-cart/<%= product.id %>">
                            <div>Buy Now!</div>
                            <div class="icon"></div>
                        </a>
                    </div>
                </article>
            <% }) %>
    
        </section>
    
        <section class="section-two">
            <div class="where-support-pay">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-shop icon"></i>
                            <h4> Where to buy</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-phone-volume icon"></i>
                            <h4>Support</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-cash-register icon"></i>
                            <h4>Pay here</h4>
                            <i class="fa-solid fa-angles-right angle"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                </ul>
            </div>
    
            <!-- <div class="down"> <img src="/images/logoDDH.png" class="logo-down"  alt=""></div> -->
    
    
        </section>
    
    </main>


    <!-- Pie de página -->
    <%- include('partials/footer') %>


</body>

</html>