<%- include('partials/head', {titulo: 'Shopping-cart' , stylesheet: 'shopping-cart' }) %>

  <body>
    <%- include('partials/header') %>
      <!-- -----------------------------------main----------------------------------------------------------------- -->
      <div class="shoppingmodel">
      <main>
        <h3 class="titular2 desing-title"> SHOPPING CART</h3>
        <br><br>
        <div class="contenedor2Columnas">
          <h4>Product</h4>
          <h4>Cant</h4>
        </div>
        <div class="separacion"></div>
        <div>
          <article class="item-cart">
            <img src="/img/products/<%=productToBuy.image%>" alt="imagen-Articulo1" class="product-img">
            <div class="contenedor-descripcion">
              <h2 class="nombre">
                <%=productToBuy.product_name%>
              </h4>
              <p class="descripcion">
              <ul>
                <% for( let i=0; i < features.length; i++ ) { %>
                  <li>
                    <%= features[i] %>
                  </li>
                  <% } %>
              </ul>
              </p>
            </div>
            <div class="contenedor-botones">
              <div class="boton-cierre"><i class="far fa-window-close"></i></div>
              <div class="boton-cantidad">
                <i class="fas fa-angle-double-up"></i>
                1
                <i class="fas fa-angle-double-down"></i>
              </div>
              <div class="contenedor-precio">
                <p class="precio">USD $<%=productToBuy.price%> </p>
              </div>
            </div>
          </article>
          <div class="separacion"></div>
        </div>
        <div class="seguir-comprando">
          <form action="/home">
            <button class="boton" type="submit"><a class="text-button" href="http://localhost:5000/">KEEP
                BUYING</a></button>
          </form>
        </div>
        <div class="contenedor-total">
          <h4 class="desing-subtitle">TOTAL PURCHASE</h4>
          <div class="separacion"></div>
          <div class="contenedor-sub contenedor2Columnas">
            <p>Subtotal</p>
            <p>USD $1394</p>
          </div>
          <div class="contenedor-envio contenedor2Columnas">
            <p>Shipping</p>
            <p>Free</p>
          </div>
          <div class="separacion"></div>
          <div class="contenedor2Columnas">
            <h4>TOTAL</h4>
            <p>USD $1394</p>
          </div>

          <div class="contenedor-metodo-pago">
            <form action="payment-metod">

            </form>
          </div>

          <div class="contenedor-boton-final">
            <form action="boton">
              <button class="boton"><a class="text-button" href="http://localhost:5000/">BUY NOW</a></button>
            </form>
          </div>
        </div>

      </main>
      </div>

      <!--  footer-------------------------- -----------------------------  -->

      <%- include('partials/footer') %>
  </body>

  </html>